---
import Layout from '../layouts/Layout.astro';


import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import CheckMark from "../icons/CheckMark.astro";
import SeparatorFixedWave from '../components/SeparatorFixedWave.astro'
---

<Layout title="Sonus ·Systems·">

<main>
    
<SeparatorFixedWave sectionHeight="30rem" urlImg="/comAut.jpg" >
  <h2 class="text-5xl text-white font-extrabold h-full font-[Audiowide] text-center">Commercial Automation Solutions</h2>  
</SeparatorFixedWave>
<!-- ============================================ -->
<!--                 Comercial Automation           -->
<!-- ============================================ -->

<section  class="solution">
  <div class="cs-container">
     
      <div class="flex flex-col justify-center align-center gap-3">
          
          <span class="text-4xl font-light text-[--primary]">Technology solutions to fit your business needs</span>
          <p class="text-pretty text-xl dark:text-white ">
            Discover how automation can seamlessly enhance various commercial spaces, integrating audio, video conferencing, projection systems, lighting controls, networking, and more. Partnering with an Integration Company that comprehensively understands business technology is key to ensuring smooth and efficient operations. 
          </p>
         

         
          <div class=" gap-6
      animate zoomin invisible">
       
        <ul class="mt-3 flex gap-2 p-2 flex-wrap">
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Boardroom | Conference room
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Hotel | Hospitality
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Profesional office
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Medical | Dental office
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Classroom | Auditorium
          </li>

        </ul>
      </div>
          <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
  </div>
</section>


<SeparatorFixedWave sectionHeight="20rem" urlImg="/CAoffice.jpg" >  
</SeparatorFixedWave>
<section class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Boardroom & Business</h2>
          <span class="text-4xl font-light text-[--primary]">Business automation solutions</span>
          <p class="text-pretty text-xl dark:text-white ">
            
            Optimize your meeting time by eliminating tech setup hurdles. Automation seamlessly integrates all aspects of your office, from lighting and climate control to multimedia systems and communication tools. Say goodbye to outdated boardrooms that hinder efficiency and productivity. Upgrade to modern technology for smooth, elegant presentations and video conferences with a user-friendly touch interface.  
            </p>
            
            <div class="cs-content gap-6
            animate zoomin invisible">
            
            <ul class="mt-3">
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Integrated room control
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Audio | Video
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Digital signage
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Phone systems
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                  Video conferencing
                </li>
                
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
            Access control
          </li>
      
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Networking
        </li>
        <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
          <CheckMark></CheckMark>
        Lighting control
      </li>
      </ul>
      </div>
      <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
    <div class="cs-image-group">
        <picture class="cs-picture cs-picture1">
            <img loading="lazy" decoding="async" src="/CAbus.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture2">
            <img loading="lazy" decoding="async" src="/CAbus2.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture3">
            <img loading="lazy" decoding="async" src="/CAbus3.jpg" alt="person gardening" width="306" height="360" aria-hidden="true">
        </picture>
        
        <!--Zig Zag Graphic-->
        <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
    </div>
  </div>
</section>

<SeparatorFixedWave sectionHeight="20rem" urlImg="/CAhotel.jpg" >  
</SeparatorFixedWave>
<section  class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-image-group">
          <picture class="cs-picture cs-picture1">
              <img loading="lazy" decoding="async" src="/CAhh.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture2">
              <img loading="lazy" decoding="async" src="/CAhh2.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture3">
              <img loading="lazy" decoding="async" src="/CAhh3.jpg" alt="person gardening" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture4">
          <img loading="lazy" decoding="async" src="/CAhh4.jpg" alt="urban environment in green" width="306" height="360" aria-hidden="true">
          </picture>
          <!--Zig Zag Graphic-->
          <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
      </div>
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Hotel Hospitality</h2>
          <span class="text-4xl font-light text-[--primary]">The possibilities are endless</span>
          <p class="text-pretty text-xl dark:text-white ">
            Optimize hospitality operations and enhance guest satisfaction with automated technology. Easily create ideal atmospheres in shared spaces by controlling lighting, music, video, and climate. Simplify room management for staff, enabling intuitive adjustments for meetings, events, and dining with a single press. Offer guests tailored experiences with smart lighting, automated drapes, and user-friendly entertainment options. Provide convenient amenities like smartphone music streaming and TV concierge services. Enhance energy efficiency by automating lighting and climate controls. Monitor usage and schedule maintenance efficiently with a centralized touch screen interface.
          </p>
         

         
          <div class="cs-content gap-6
      animate zoomin invisible">
       
        <ul class="mt-3">
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Smart building technology
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Audio | Video
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Motorized window treatmens
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Integrated building tecnology
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Digital signage
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Lighting control
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Access control
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Energy management
          </li>
        </ul>
      </div>
          <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
  </div>
</section>

<SeparatorFixedWave sectionHeight="20rem" urlImg="/CAofficePro.jpg" >  
</SeparatorFixedWave>
<section class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">PROFESSIONAL OFFICE</h2>
          <span class="text-4xl font-light text-[--primary]">Increase productivity</span>
          <p class="text-pretty text-xl dark:text-white ">
         
            Boost efficiency and gain a competitive edge with streamlined, integrated systems. Smart technology enhances business operations, freeing up owners and facility managers to focus on success. Create an inviting atmosphere effortlessly with centralized control of lights, temperature, music, and video. Simplify opening and closing routines with one-touch power and security management. Enhance staff comfort with motorized window treatments. Stay connected and monitor remotely with alerts and camera access from any smart device. 
            </p>
            
            <div class="cs-content gap-6
            animate zoomin invisible">
            
            <ul class="mt-3">
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Smart building technology
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Audio | Video
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Digital signage
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Lighting control
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                  Survellance
                </li>
                
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                  Access control
                </li>
      
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                  <CheckMark></CheckMark>
                   Networking
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                  <CheckMark></CheckMark>
                  Motorized window treatmens
                 </li>
            </ul>
      </div>
      <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
    <div class="cs-image-group">
        <picture class="cs-picture cs-picture1">
            <img loading="lazy" decoding="async" src="/CAof.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture2">
            <img loading="lazy" decoding="async" src="/CAof2.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture3">
            <img loading="lazy" decoding="async" src="/CAof3.jpg" alt="person gardening" width="306" height="360" aria-hidden="true">
        </picture>
        
        <!--Zig Zag Graphic-->
        <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
    </div>
  </div>
</section>


<SeparatorFixedWave sectionHeight="20rem" urlImg="/CAdental.jpg" >  
</SeparatorFixedWave>
<section  class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-image-group">
          <picture class="cs-picture cs-picture1">
              <img loading="lazy" decoding="async" src="/CAden.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture2">
              <img loading="lazy" decoding="async" src="/CAden2.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture3">
              <img loading="lazy" decoding="async" src="/CAden3.jpg" alt="person gardening" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture4">
          <img loading="lazy" decoding="async" src="/CAden4.jpg" alt="urban environment in green" width="306" height="360" aria-hidden="true">
          </picture>
          <!--Zig Zag Graphic-->
          <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
      </div>
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">MEDICAL | DENTAL OFFICE</h2>
          <span class="text-4xl font-light text-[--primary]">Create a stress free environment for staff, and
            enhance patient experience in waiting rooms</span>
          <p class="text-pretty text-xl dark:text-white ">
            Automate technology in medical and dental offices to improve efficiency, reduce stress, and enhance patient experiences. Control lighting, shades, and climate smartly to save energy and boost comfort. Simplify operations with one-touch adjustments tailored to procedural needs. Delight patients with easy entertainment control during recovery and maintain soothing atmospheres with music and video. Stay connected with staff and patients via intercom systems. Implement cutting-edge simulation labs, training environments, or telemedicine systems. Ensure security with remote camera access and alerts.
          </p>
         

         
          <div class="cs-content gap-6
      animate zoomin invisible">
       
        <ul class="mt-3">
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Integrated room control
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Audio | Video
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Climate control
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Intercom | Pagin
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Digital signage
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Lighting control
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Access control
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Surveillance
          </li>
        </ul>
      </div>
          <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
  </div>
</section>

<SeparatorFixedWave sectionHeight="20rem" urlImg="/CAauditorio.jpg" >  
</SeparatorFixedWave>
<section class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">CLASSROOM | AUDITORIUM</h2>
          <span class="text-4xl font-light text-[--primary]">Capture your audience</span>
          <p class="text-pretty text-xl dark:text-white ">
         
            Equip any classroom or auditorium with cutting-edge integrated systems to engage your audience. Crafting a smart integration strategy requires expertise in system communication, device knowledge, and project objectives. Essential components include audio systems, projectors, displays, screens, wireless connectivity, microphones, and lighting control. Seamless integration ensures effective communication and support for lectures, presentations, and performances.


            </p>
            
            <div class="cs-content gap-6
            animate zoomin invisible">
            
            <ul class="mt-3 flex-wrap">
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Integrated room control
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Audio | Video
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Digital signage
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Lighting control
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Presentation technology
                </li>
                
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                  Access control
                </li>
      
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                  <CheckMark></CheckMark>
                   Interactive whiteboards
                </li>
               
            </ul>
      </div>
      <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
    <div class="cs-image-group">
        <picture class="cs-picture cs-picture1">
            <img loading="lazy" decoding="async" src="/CAaud.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture2">
            <img loading="lazy" decoding="async" src="/CAaud2.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture3">
            <img loading="lazy" decoding="async" src="/CAaud4.jpg" alt="person gardening" width="306" height="360" aria-hidden="true">
        </picture>
        
        <!--Zig Zag Graphic-->
        <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
    </div>
  </div>
</section>



<Contact></Contact>
<Footer></Footer>

</main>
		

	
</Layout>
<style>
  /*-- -------------------------- -->
<---       Solutions         -->
<--- -------------------------- -*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
html {
  scroll-behavior: smooth;
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .solution {
        padding: var(--sectionPadding);
        /* clips the zigzag graphic so it doesn't cause overflow issues */
        overflow: hidden;
    }
    .solution .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    .solution .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    .solution .cs-text {
        margin-bottom: 1rem;
    }
    .solution .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    .solution .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    .solution .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: var(--secondary);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    .solution .cs-button-solid:hover:before {
        width: 100%;
    }
    .solution .cs-image-group {
        /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
        font-size: min(2.3vw, 0.75em);
        width: 39.5em;
        height: 51.25em;
        position: relative;
        z-index: 1;
        
    }
    .solution .cs-picture {
        width: 19.125em;
        height: 22.5em;
        overflow: hidden;
        display: block;
        position: absolute;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4), 0 0 60px 10px var(--secondary); /* Sombra azul en modo oscuro */
        
  
    }
    .solution .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.4s ease-in-out;
    }
    .solution .cs-picture img:hover{
      transform: scale(1.4);
    }
    .solution .cs-picture1 {
        top: 5em;
        left: 0;
    }
    .solution .cs-picture2 {
        top: 0;
        right: 0;
    }
    .solution .cs-picture3 {
        bottom: 0;
        left: 0;
    }
    .solution .cs-picture4 {
        bottom: 5em;
        right: 0;
    }
    .solution .cs-graphic {
        display: none;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .solution .cs-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .solution .cs-image-group {
        font-size: min(1.2vw, 1em);
        flex: none;
    }
    .solution .cs-graphic {
        width: 61.4375em;
        height: auto;
        display: block;
        position: absolute;
        bottom: 10.3125em;
        right: -2em;
        z-index: -1;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode .solution .cs-topper .cs-color {
        color: white;
    }
    body.dark-mode .solution .cs-title,
    body.dark-mode .solution .cs-text,
    body.dark-mode .solution .cs-h3,
    body.dark-mode .solution .cs-item-p {
        color: white;
    }
    body.dark-mode .solution .cs-text,
    body.dark-mode .solution .cs-item-p {
        opacity: 0.8;
    }
    body.dark-mode .solution .cs-icon {
        filter: brightness(125%);
    }
    body.dark-mode .solution .cs-graphic {
        opacity: 0.2;
    }
}

                                
</style>


<script>

const containers = document.querySelectorAll<HTMLElement>(".cs-picture");

containers.forEach((container) => {
  const img = container.querySelector("img");

  container.addEventListener("mousemove", (e: MouseEvent) => {
    const x = (e.pageX - container.offsetLeft) / container.offsetWidth;
    const y = (e.pageY - container.offsetTop) / container.offsetHeight;

    if (img) {
      img.style.transformOrigin = `${x}% ${y}%`;
    }
  });
});

    // Obtener todos los elementos 
const animatedElements = document.querySelectorAll('.animate');

// Función para manejar la intersección
const handleIntersection = (entries: IntersectionObserverEntry[], observer: IntersectionObserver) => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
        entry.target.classList.remove('invisible');
      entry.target.classList.add('animate__animated');


       // Verificar si el elemento tiene la clase 'backinleft'
       if (entry.target.classList.contains('backinleft')) {
        entry.target.classList.add('animate__backInLeft');
      }

      // Verificar si el elemento tiene la clase 'zoomin'
      if (entry.target.classList.contains('zoomin')) {
        entry.target.classList.add('animate__zoomIn');
      }
      if (entry.target.classList.contains('zoomup')) {
        entry.target.classList.add('animate__zoomInUp');
      }
      

      observer.unobserve(entry.target);
    }
  });
};

//  instancia del IntersectionObserver
const observer = new IntersectionObserver(handleIntersection, {
   // Establecer la raíz como la ventana del navegador
  rootMargin: '0px', // Sin márgenes adicionales
  threshold: 0.2, // El 20% del elemento debe estar visible para activar la animación
});

// Observar cada elemento a animar
animatedElements.forEach(element => {
  observer.observe(element);
});
  </script>

 