---
import Layout from '../layouts/Layout.astro';


import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import CheckMark from "../icons/CheckMark.astro";
import SeparatorFixedWave from '../components/SeparatorFixedWave.astro'
---

<Layout title="Sonus ·Systems·">

<main>
    
<SeparatorFixedWave sectionHeight="30rem" urlImg="/electrical1.jpeg" >
  <h2 class="text-5xl text-white font-extrabold h-full font-[Audiowide] text-center">Electrical solutions</h2>  
</SeparatorFixedWave>
<!-- ============================================ -->
<!--                 Electrical solutions          -->
<!-- ============================================ -->

<section  class="solution">
  <div class="cs-container">
     
      <div class="flex flex-col justify-center align-center gap-3">
          
          <span class="text-4xl font-light text-[--primary]">Experience seamless installation of commercial and residential equipment and appliances with our team of skilled Electrical Contractors</span>
          <p class="text-pretty text-xl dark:text-white ">
            Our goal is to deliver a professional and cost-effective service. Our highly trained electricians are approachable, inquisitive, and ready to address any electrical challenges you encounter. We stand behind our craftsmanship with our 'CONSIDER IT FIXED!' limited lifetime warranty, ensuring that our work is completed to the highest standards in accordance with industry practices and electrical codes. This warranty remains valid for the expected lifespan of the installation, and your satisfaction is guaranteed with us. 
          </p>
         

         
          <div class=" gap-6
      animate zoomin invisible">
       
        <ul class="mt-3 flex gap-2 p-2 flex-wrap">
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Electrical Safety
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Electrical Installations
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Lighting Design
          </li>
          

        </ul>
      </div>
          <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
  </div>
</section>


<SeparatorFixedWave sectionHeight="20rem" urlImg="/Esafe1.jpg" >  
</SeparatorFixedWave>
<section class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Electrical Safety</h2>
          <span class="text-4xl font-light text-[--primary]">Ensure the safety of your residence or commercial establishment</span>
          <p class="text-pretty text-xl dark:text-white ">
            
            At SONUS·systems·, safeguarding your family's well-being is our top priority. We often install comprehensive safety measures such as whole house surge protectors, GFCI outlets, and childproof outlets for clients who prioritize safety. If you've recently acquired a new home, we advise scheduling an electrical inspection to ensure compliance with current codes. Our skilled technicians can upgrade your electrical panel to accommodate your family's demands, whether it's enhancing capacity or replacing faulty components promptly. 
            </p>
            
            <div class="cs-content gap-6
            animate zoomin invisible">
            
            <ul class="mt-3">
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                   Child proff outlets
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Electrical safety inpections
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Wiring upgrades
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Home rewiring services
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                  Dedicate computer circuitry
                </li>
                
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                  Whole house surge protectors
          </li>
      
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Circuits braker remplacements
        </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
         Breaker panel service and repair
        </li>
        <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
          <CheckMark></CheckMark>
        CFGI
      </li>
      <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
        <CheckMark></CheckMark>
      Code updates and corrections
    </li>
    <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
      <CheckMark></CheckMark>
    Troubleshoot minor home electrical issues
  </li>
      </ul>
      </div>
      <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
    <div class="cs-image-group">
        <picture class="cs-picture cs-picture1">
            <img loading="lazy" decoding="async" src="/Esafe2.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture2">
            <img loading="lazy" decoding="async" src="/Esafe3.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture3">
            <img loading="lazy" decoding="async" src="/Esafe4.jpg" alt="person gardening" width="306" height="360" aria-hidden="true">
        </picture>
        
        <!--Zig Zag Graphic-->
        <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
    </div>
  </div>
</section>



<SeparatorFixedWave sectionHeight="20rem" urlImg="/Eins1.jpeg" >  
</SeparatorFixedWave>
<section class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Electrical Installations</h2>
          <span class="text-4xl font-light text-[--primary]">We know about lighting</span>
          <p class="text-pretty text-xl dark:text-white ">
         
            At SONUS·systems·, safeguarding your family's well-being is our top priority. We often install comprehensive safety measures such as whole house surge protectors, GFCI outlets, and childproof outlets for clients who prioritize safety. If you've recently acquired a new home, we advise scheduling an electrical inspection to ensure compliance with current codes. Our skilled technicians can upgrade your electrical panel to accommodate your family's demands, whether it's enhancing capacity or replacing faulty components promptly. 
          
            </p>
            
            <div class="cs-content gap-6
            animate zoomin invisible">
            
            <ul class="mt-3">
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Smart building technology
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Audio | Video
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Digital signage
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Lighting control
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                  Survellance
                </li>
                
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                  Access control
                </li>
      
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                  <CheckMark></CheckMark>
                   Networking
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                  <CheckMark></CheckMark>
                  Motorized window treatmens
                 </li>
            </ul>
      </div>
      <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
    <div class="cs-image-group">
        <picture class="cs-picture cs-picture1">
            <img loading="lazy" decoding="async" src="/Eins2.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture2">
            <img loading="lazy" decoding="async" src="/Eins3.jpg" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture3">
            <img loading="lazy" decoding="async" src="/Eins4.jpg" alt="person gardening" width="306" height="360" aria-hidden="true">
        </picture>
        
        <!--Zig Zag Graphic-->
        <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
    </div>
  </div>
</section>






<Contact></Contact>
<Footer></Footer>

</main>
		

	
</Layout>
<style>
  /*-- -------------------------- -->
<---       Solutions         -->
<--- -------------------------- -*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
html {
  scroll-behavior: smooth;
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .solution {
        padding: var(--sectionPadding);
        /* clips the zigzag graphic so it doesn't cause overflow issues */
        overflow: hidden;
    }
    .solution .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    .solution .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    .solution .cs-text {
        margin-bottom: 1rem;
    }
    .solution .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    .solution .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    .solution .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: var(--secondary);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    .solution .cs-button-solid:hover:before {
        width: 100%;
    }
    .solution .cs-image-group {
        /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
        font-size: min(2.3vw, 0.75em);
        width: 39.5em;
        height: 51.25em;
        position: relative;
        z-index: 1;
        
    }
    .solution .cs-picture {
        width: 19.125em;
        height: 22.5em;
        overflow: hidden;
        display: block;
        position: absolute;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4), 0 0 60px 10px var(--secondary); /* Sombra azul en modo oscuro */
        
  
    }
    .solution .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.4s ease-in-out;
    }
    .solution .cs-picture img:hover{
      transform: scale(1.4);
    }
    .solution .cs-picture1 {
        top: 5em;
        left: 0;
    }
    .solution .cs-picture2 {
        top: 0;
        right: 0;
    }
    .solution .cs-picture3 {
        bottom: 0;
        left: 0;
    }
    .solution .cs-picture4 {
        bottom: 5em;
        right: 0;
    }
    .solution .cs-graphic {
        display: none;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .solution .cs-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .solution .cs-image-group {
        font-size: min(1.2vw, 1em);
        flex: none;
    }
    .solution .cs-graphic {
        width: 61.4375em;
        height: auto;
        display: block;
        position: absolute;
        bottom: 10.3125em;
        right: -2em;
        z-index: -1;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode .solution .cs-topper .cs-color {
        color: white;
    }
    body.dark-mode .solution .cs-title,
    body.dark-mode .solution .cs-text,
    body.dark-mode .solution .cs-h3,
    body.dark-mode .solution .cs-item-p {
        color: white;
    }
    body.dark-mode .solution .cs-text,
    body.dark-mode .solution .cs-item-p {
        opacity: 0.8;
    }
    body.dark-mode .solution .cs-icon {
        filter: brightness(125%);
    }
    body.dark-mode .solution .cs-graphic {
        opacity: 0.2;
    }
}

                                
</style>


<script>

const containers = document.querySelectorAll<HTMLElement>(".cs-picture");

containers.forEach((container) => {
  const img = container.querySelector("img");

  container.addEventListener("mousemove", (e: MouseEvent) => {
    const x = (e.pageX - container.offsetLeft) / container.offsetWidth;
    const y = (e.pageY - container.offsetTop) / container.offsetHeight;

    if (img) {
      img.style.transformOrigin = `${x}% ${y}%`;
    }
  });
});

    // Obtener todos los elementos 
const animatedElements = document.querySelectorAll('.animate');

// Función para manejar la intersección
const handleIntersection = (entries: IntersectionObserverEntry[], observer: IntersectionObserver) => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
        entry.target.classList.remove('invisible');
      entry.target.classList.add('animate__animated');


       // Verificar si el elemento tiene la clase 'backinleft'
       if (entry.target.classList.contains('backinleft')) {
        entry.target.classList.add('animate__backInLeft');
      }

      // Verificar si el elemento tiene la clase 'zoomin'
      if (entry.target.classList.contains('zoomin')) {
        entry.target.classList.add('animate__zoomIn');
      }
      if (entry.target.classList.contains('zoomup')) {
        entry.target.classList.add('animate__zoomInUp');
      }
      

      observer.unobserve(entry.target);
    }
  });
};

//  instancia del IntersectionObserver
const observer = new IntersectionObserver(handleIntersection, {
   // Establecer la raíz como la ventana del navegador
  rootMargin: '0px', // Sin márgenes adicionales
  threshold: 0.2, // El 20% del elemento debe estar visible para activar la animación
});

// Observar cada elemento a animar
animatedElements.forEach(element => {
  observer.observe(element);
});
  </script>

 