---
import Layout from '../layouts/Layout.astro';


import Contact from '../components/Contact.astro'
import Footer from '../components/Footer.astro'
import CheckMark from "../icons/CheckMark.astro";
import SeparatorFixedWave from '../components/SeparatorFixedWave.astro'
---

<Layout title="Sonus ·Systems·">

<main>
    
<SeparatorFixedWave sectionHeight="30rem" urlImg="/residential.webp" >
  <h2 class="text-5xl text-white font-extrabold h-full font-[Audiowide] text-center">Residential Automation Solutions</h2>  
</SeparatorFixedWave>
<!-- ============================================ -->
<!--                 Residential Automation           -->
<!-- ============================================ -->

<section  class="solution">
  <div class="cs-container">
     
      <div class="flex flex-col justify-center align-center gap-3">
          
          <span class="text-4xl font-light text-[--primary]">Residential automation solutions tailored to enhance your lifestyle</span>
          <p class="text-pretty text-xl dark:text-white ">
            Enjoy a smart and convenient lifestyle with our home automation solution. Remotely control your electronic devices through an app or voice assistant. Synchronize lights, thermostats, and appliances to adapt to your routines, providing you with comfort and energy savings. Additionally, increase your security with connected surveillance cameras and monitoring systems. Transform your life with our cutting-edge home automation technology.
          </p>
         

         
          <div class=" gap-6
      animate zoomin invisible">
       
        <ul class="mt-3 flex gap-2 p-2 flex-wrap">
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Audio
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Video
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Home Theater
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Lighting
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Climate Control
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Outdoor Audio
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Outdoor TV
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            SPA+Pool control
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Network-WIFI
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Phone Stystem
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Security & Survielance
          </li>
          <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
            <CheckMark></CheckMark>
            Access control & keyless entry
          </li>
        </ul>
      </div>
          <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
  </div>
</section>


<SeparatorFixedWave sectionHeight="20rem" urlImg="/RAaudio1.webp" >  
</SeparatorFixedWave>
<section class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Audio</h2>
          <span class="text-4xl font-light text-[--primary]">We're here to revolutionize your music listening experience—forever.</span>
          <p class="text-pretty text-xl dark:text-white ">
            
            Transform your music experience with SONUS·Systems· Integration's distributed audio solutions. Enjoy high-quality sound throughout your home, effortlessly controlled from a central point. Our IP Network Audio Software ensures exceptional sound quality, connecting multiple audio sources to any speaker discreetly placed for aesthetic harmony.
            </p>
            
            <div class="cs-content gap-6
            animate zoomin invisible">
            
              <ul class="mt-3">
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Music servers
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Roon
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Streaming media sources
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                    Turntables
                </li>
                <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                    <CheckMark></CheckMark>
                  Video source
                </li>         
             </ul>
             <ul class="mt-3">
              <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
                <CheckMark></CheckMark>
        Bookshelf 
      </li>
  
      <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
        <CheckMark></CheckMark>
        In-celling 
    </li>
    <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
      <CheckMark></CheckMark>
    Invisible
  </li>
  <li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
    <CheckMark></CheckMark>
  Soundbars
</li>
<li class="my-2 gap-4 text-xl dark:text-white flex items-center ">
  <CheckMark></CheckMark>
Subwofers,Receivers & Amps 
</li>
             </ul>
            </div>
      <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
    <div class="cs-image-group">
        <picture class="cs-picture cs-picture1">
            <img loading="lazy" decoding="async" src="/RAaudio3.webp"" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture2">
            <img loading="lazy" decoding="async" src="/RAaudio4.webp"" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture3">
            <img loading="lazy" decoding="async" src="/RAaudio5.webp"" alt="person gardening" width="306" height="360" aria-hidden="true">
        </picture>
        
        <!--Zig Zag Graphic-->
        <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
    </div>
  </div>
</section>

<SeparatorFixedWave sectionHeight="20rem" urlImg="/RAvideo5.webp" >  
</SeparatorFixedWave>
<section  class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-image-group">
          <picture class="cs-picture cs-picture1">
              <img loading="lazy" decoding="async" src="/RAvideo2.webp" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture2">
              <img loading="lazy" decoding="async" src="/RAvideo3.webp" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture3">
              <img loading="lazy" decoding="async" src="/RAvideo4.webp" alt="person gardening" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture4">
          <img loading="lazy" decoding="async" src="/RAvideo5.webp" alt="urban environment in green" width="306" height="360" aria-hidden="true">
          </picture>
          <!--Zig Zag Graphic-->
          <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
      </div>
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Video</h2>
          <span class="text-4xl font-light text-[--primary]">Discover a whole new level of TV installation and design.</span>
          <p class="text-pretty text-xl dark:text-white ">
            Assess the number of TVs and associated equipment in your home. Envision a centralized rack system in your basement or mechanical room, housing your cable boxes and other devices. Utilizing our HDMI matrix, this setup allows for the distribution of high-definition signals to multiple TVs throughout your home, requiring only a few cable boxes in the rack to service numerous TVs. This system offers convenient access to recorded shows and cable TV channels through user-assigned cable box names.
          </p>
         

        ¿
          <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
  </div>
</section>

<SeparatorFixedWave sectionHeight="20rem" urlImg="/RAhh1.webp" >  
</SeparatorFixedWave>
<section class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Home Theater</h2>
          <span class="text-4xl font-light text-[--primary]">Transform your living space into a cinematic oasis with our unrivaled home theater experience</span>
          <p class="text-pretty text-xl dark:text-white ">
         
            SONUS·systems· crafts and installs bespoke home theater systems utilizing state-of-the-art technology, including large screens and surround-sound audio for an immersive viewing experience. Collaborating with architects and interior designers, we ensure both aesthetic appeal and functionality. From comfortable seating options to soundproofing solutions, every detail is tailored to create a unique space for enjoying various entertainment options, from TV and streaming to gaming and music. 
            </p>
            
            
      <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
    <div class="cs-image-group">
        <picture class="cs-picture cs-picture1">
            <img loading="lazy" decoding="async" src="/RAhh2.webp" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture2">
            <img loading="lazy" decoding="async" src="/RAhh3.webp" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture3">
            <img loading="lazy" decoding="async" src="/RAhh4.webp" alt="person gardening" width="306" height="360" aria-hidden="true">
        </picture>
        
        <!--Zig Zag Graphic-->
        <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
    </div>
  </div>
</section>


<SeparatorFixedWave sectionHeight="20rem" urlImg="/RAligth2.webp" >  
</SeparatorFixedWave>
<section  class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-image-group">
          <picture class="cs-picture cs-picture1">
              <img loading="lazy" decoding="async" src="/RAligth3.webp" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture2">
              <img loading="lazy" decoding="async" src="/RAligth4.webp"people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture3">
              <img loading="lazy" decoding="async" src="/RAligth5.webp" alt="person gardening" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture4">
          <img loading="lazy" decoding="async" src="/RAligth6.webp" alt="urban environment in green" width="306" height="360" aria-hidden="true">
          </picture>
          <!--Zig Zag Graphic-->
          <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
      </div>
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Lighting</h2>
          <span class="text-4xl font-light text-[--primary]">Elevate your lighting experience with seamless smart integration</span>
          <p class="text-pretty text-xl dark:text-white ">
            SONUS·systems· Integration specializes in smart lighting control systems, offering enhanced ambiance, security, and convenience. Our solutions, featuring top-tier technology from leading brands, provide elegant control options and increased comfort. With comprehensive design and installation services, we offer remote control capabilities and energy-efficient settings, ensuring significant energy savings and environmental impact.
          </p>
         

         
         
          <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
  </div>
</section>

<SeparatorFixedWave sectionHeight="20rem" urlImg="/RAcc1.webp" >  
</SeparatorFixedWave>
<section class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Climate Control</h2>
          <span class="text-4xl font-light text-[--primary]">Simplify energy management and cut costs seamlessly</span>
          <p class="text-pretty text-xl dark:text-white ">
         
            Our climate control systems allow for automatic adjustment of air conditioning in summer and utilize sunlight with automated window coverings in winter. They offer various ways to monitor and conserve energy for heating and cooling. With smart programming and integration with home automation, our solutions help reduce energy costs.


            </p>
            
            
      <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
    <div class="cs-image-group">
        <picture class="cs-picture cs-picture1">
            <img loading="lazy" decoding="async" src="/RAcc2.webp" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture2">
            <img loading="lazy" decoding="async" src="/RAcc3.webp" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture3">
            <img loading="lazy" decoding="async" src="/RAcc5.webp" alt="person gardening" width="306" height="360" aria-hidden="true">
        </picture>
        
        <!--Zig Zag Graphic-->
        <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
    </div>
  </div>
</section>


<SeparatorFixedWave sectionHeight="20rem" urlImg="/RAao1.webp" >  
</SeparatorFixedWave>
<section  class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-image-group">
          <picture class="cs-picture cs-picture1">
              <img loading="lazy" decoding="async" src="/RAao2.webp" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture2">
              <img loading="lazy" decoding="async" src="/RAao3.webp" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
         
          
          <!--Zig Zag Graphic-->
          <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
      </div>
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Outdoor Audio</h2>
          <span class="text-4xl font-light text-[--primary]">We create outdoor Quality Sound</span>
          <p class="text-pretty text-xl dark:text-white ">
            Outdoor gatherings demand more than a single portable speaker. Our premium outdoor audio solutions from Coastal Source and Sonance provide high-quality sound tailored for various outdoor environments. These customizable systems seamlessly integrate into your landscape, offering both aesthetic appeal and functionality.
          </p>
         

         
         
          <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
  </div>
</section>


<SeparatorFixedWave sectionHeight="20rem" urlImg="/RAotv5.webp" >  
</SeparatorFixedWave>
<section class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Outdoor TV</h2>
          <span class="text-4xl font-light text-[--primary]">Your outdoor world controlled seamlessly</span>
          <p class="text-pretty text-xl dark:text-white ">
         
            Seura Outdoor TVs are built for durability and superb viewing, featuring weatherproof designs and options like a 4K, 84-inch screen. Perfect for various outdoor settings, they enhance spaces and facilitate social gatherings.


            </p>
            
            
      <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
    <div class="cs-image-group">
        <picture class="cs-picture cs-picture1">
            <img loading="lazy" decoding="async" src="/RAotv2.webp" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture2">
            <img loading="lazy" decoding="async" src="/RAotv3.webp" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture3">
            <img loading="lazy" decoding="async" src="/RAotv4.webp" alt="person gardening" width="306" height="360" aria-hidden="true">
        </picture>
        
        <!--Zig Zag Graphic-->
        <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
    </div>
  </div>
</section>

<SeparatorFixedWave sectionHeight="20rem" urlImg="/RAspa4.webp" >  
</SeparatorFixedWave>
<section  class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-image-group">
          <picture class="cs-picture cs-picture1">
              <img loading="lazy" decoding="async" src="/RAspa2.webp" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture2">
              <img loading="lazy" decoding="async" src="/RAspa3.webp" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture3">
              <img loading="lazy" decoding="async" src="/RAspa1.webp" alt="person gardening" width="306" height="360" aria-hidden="true">
          </picture>
         
          <!--Zig Zag Graphic-->
          <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
      </div>
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">SPA+Pool Control</h2>
          <span class="text-4xl font-light text-[--primary]">Schedule Pool Lights To Turn On
            As Day Fades To Night </span>
          <p class="text-pretty text-xl dark:text-white ">
            Automated pool and spa systems enhance convenience and enjoyment by allowing remote control of heating, cleaning, and water features, ensuring your facilities are ready when you are and reducing maintenance efforts.
          </p>
         

         
         
          <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
  </div>
</section>

<SeparatorFixedWave sectionHeight="20rem" urlImg="/RAwifi1.webp" >  
</SeparatorFixedWave>
<section class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Network-WIFI</h2>
          <span class="text-4xl font-light text-[--primary]">High performance networking
            technology all over your house</span>
          <p class="text-pretty text-xl dark:text-white ">
            The smartest homes in America integrate their current Internet service with the most revolutionary, best-in-class networking technology that delivers lightning-fast, secure infrastructure. Our wireless network specialists create a behind-the-scenes communication center for all your wireless devices with technology from the industry giants — 


            </p>
            
            
      <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
    <div class="cs-image-group">
        <picture class="cs-picture cs-picture1">
            <img loading="lazy" decoding="async" src="/RAwifi2.webp" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture2">
            <img loading="lazy" decoding="async" src="/RAwifi3.webp" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture3">
            <img loading="lazy" decoding="async" src="/RAwifi4.webp" alt="person gardening" width="306" height="360" aria-hidden="true">
        </picture>
        
        <!--Zig Zag Graphic-->
        <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
    </div>
  </div>
</section>

<SeparatorFixedWave sectionHeight="20rem" urlImg="/RApho1.webp" >  
</SeparatorFixedWave>
<section  class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-image-group">
          <picture class="cs-picture cs-picture1">
              <img loading="lazy" decoding="async" src="/RApho2.webp" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture2">
              <img loading="lazy" decoding="async" src="/RApho3.webp" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture3">
              <img loading="lazy" decoding="async" src="/RApho4.webp" alt="person gardening" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture4">
          <img loading="lazy" decoding="async" src="/RApho5.webp" alt="urban environment in green" width="306" height="360" aria-hidden="true">
          </picture>
          <!--Zig Zag Graphic-->
          <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
      </div>
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Phone System</h2>
          <span class="text-4xl font-light text-[--primary]">A Communications Center designed
            for the way you live </span>
          <p class="text-pretty text-xl dark:text-white ">
            SONUS·systems· installs versatile phone systems tailored to maintain seamless communication across your home or office, featuring advanced call routing, monitoring capabilities, and customizable options like multiple lines and intercoms.
          </p>
         

         
         
          <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
  </div>
</section>
<SeparatorFixedWave sectionHeight="20rem" urlImg="/RAsec1.webp" >  
</SeparatorFixedWave>
<section class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Security & Survielance</h2>
          <span class="text-4xl font-light text-[--primary]">Peace of mind from security and surveillance</span>
          <p class="text-pretty text-xl dark:text-white ">
            SONUS·systems· enhances home security with IC Realtime's interactive surveillance systems, allowing remote viewing and control of camera footage via a mobile app for complete safety and convenience.

            </p>
            
            
      <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
    <div class="cs-image-group">
        <picture class="cs-picture cs-picture1">
            <img loading="lazy" decoding="async" src="/RAsec2.webp" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture2">
            <img loading="lazy" decoding="async" src="/RAsec3.webp" alt="people outside" width="306" height="360" aria-hidden="true">
        </picture>
        <picture class="cs-picture cs-picture3">
            <img loading="lazy" decoding="async" src="/RAsec4.webp" alt="person gardening" width="306" height="360" aria-hidden="true">
        </picture>
        
        <!--Zig Zag Graphic-->
        <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
    </div>
  </div>
</section>

<SeparatorFixedWave sectionHeight="20rem" urlImg="/RAalar1.webp" >  
</SeparatorFixedWave>
<section  class="solution">
  <div class="cs-container">
      <!-- Left Section -->
      <div class="cs-image-group">
          <picture class="cs-picture cs-picture1">
              <img loading="lazy" decoding="async" src="/RAalar2.webp" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
          <picture class="cs-picture cs-picture2">
              <img loading="lazy" decoding="async" src="/RAalar3.webp" alt="people outside" width="306" height="360" aria-hidden="true">
          </picture>
         
          <!--Zig Zag Graphic-->
          <img class="cs-graphic" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fzigzag.svg" loading="lazy" decoding="async" alt="zigzag" width="983" height="416">
      </div>
      <div class="cs-content gap-3">
          <h2 class="dark:text-white text-5xl font-extrabold">Access control & keyless entry</h2>
          <span class="text-4xl font-light text-[--primary]">A New threshold in home security </span>
          <p class="text-pretty text-xl dark:text-white ">
            Access control systems, also known as keyless entry systems, enhance security by enabling remote management of property access from anywhere. These systems track entry efficiently and eliminate the costs associated with lost keys and lock changes, making them a smart choice for protecting people, assets, and properties
          </p>
         

         
         
          <a class="cs-button-solid mx-auto" href="">Get a quote</a>
      </div>
  </div>
</section>

<!-- Call to Action -->

<Contact></Contact>
<Footer></Footer>

</main>
		

	
</Layout>
<style>
  /*-- -------------------------- -->
<---       Solutions         -->
<--- -------------------------- -*/
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
html {
  scroll-behavior: smooth;
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .solution {
        padding: var(--sectionPadding);
        /* clips the zigzag graphic so it doesn't cause overflow issues */
        overflow: hidden;
    }
    .solution .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    .solution .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 33.875rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    .solution .cs-text {
        margin-bottom: 1rem;
    }
    .solution .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    .solution .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    .solution .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: var(--secondary);
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    .solution .cs-button-solid:hover:before {
        width: 100%;
    }
    .solution .cs-image-group {
        /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
        font-size: min(2.3vw, 0.75em);
        width: 39.5em;
        height: 51.25em;
        position: relative;
        z-index: 1;
        
    }
    .solution .cs-picture {
        width: 19.125em;
        height: 22.5em;
        overflow: hidden;
        display: block;
        position: absolute;
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4), 0 0 60px 10px var(--secondary); /* Sombra azul en modo oscuro */
        
  
    }
    .solution .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.4s ease-in-out;
    }
    .solution .cs-picture img:hover{
      transform: scale(1.4);
    }
    .solution .cs-picture1 {
        top: 5em;
        left: 0;
    }
    .solution .cs-picture2 {
        top: 0;
        right: 0;
    }
    .solution .cs-picture3 {
        bottom: 0;
        left: 0;
    }
    .solution .cs-picture4 {
        bottom: 5em;
        right: 0;
    }
    .solution .cs-graphic {
        display: none;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    .solution .cs-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .solution .cs-image-group {
        font-size: min(1.2vw, 1em);
        flex: none;
    }
    .solution .cs-graphic {
        width: 61.4375em;
        height: auto;
        display: block;
        position: absolute;
        bottom: 10.3125em;
        right: -2em;
        z-index: -1;
    }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode .solution .cs-topper .cs-color {
        color: white;
    }
    body.dark-mode .solution .cs-title,
    body.dark-mode .solution .cs-text,
    body.dark-mode .solution .cs-h3,
    body.dark-mode .solution .cs-item-p {
        color: white;
    }
    body.dark-mode .solution .cs-text,
    body.dark-mode .solution .cs-item-p {
        opacity: 0.8;
    }
    body.dark-mode .solution .cs-icon {
        filter: brightness(125%);
    }
    body.dark-mode .solution .cs-graphic {
        opacity: 0.2;
    }
}

                                
</style>


<script>

const containers = document.querySelectorAll<HTMLElement>(".cs-picture");

containers.forEach((container) => {
  const img = container.querySelector("img");

  container.addEventListener("mousemove", (e: MouseEvent) => {
    const x = (e.pageX - container.offsetLeft) / container.offsetWidth;
    const y = (e.pageY - container.offsetTop) / container.offsetHeight;

    if (img) {
      img.style.transformOrigin = `${x}% ${y}%`;
    }
  });
});

    // Obtener todos los elementos 
const animatedElements = document.querySelectorAll('.animate');

// Función para manejar la intersección
const handleIntersection = (entries: IntersectionObserverEntry[], observer: IntersectionObserver) => {
  entries.forEach(entry => {
    if (entry.isIntersecting) {
        entry.target.classList.remove('invisible');
      entry.target.classList.add('animate__animated');


       // Verificar si el elemento tiene la clase 'backinleft'
       if (entry.target.classList.contains('backinleft')) {
        entry.target.classList.add('animate__backInLeft');
      }

      // Verificar si el elemento tiene la clase 'zoomin'
      if (entry.target.classList.contains('zoomin')) {
        entry.target.classList.add('animate__zoomIn');
      }
      if (entry.target.classList.contains('zoomup')) {
        entry.target.classList.add('animate__zoomInUp');
      }
      

      observer.unobserve(entry.target);
    }
  });
};

//  instancia del IntersectionObserver
const observer = new IntersectionObserver(handleIntersection, {
   // Establecer la raíz como la ventana del navegador
  rootMargin: '0px', // Sin márgenes adicionales
  threshold: 0.2, // El 20% del elemento debe estar visible para activar la animación
});

// Observar cada elemento a animar
animatedElements.forEach(element => {
  observer.observe(element);
});
  </script>

 