---

---

<section class="hero">
  <section class="parallax grid place-items-center ">
      <div class="h-screen">
        <div class="p-2 flex justify-center flex-col gap-4 h-full">
          <!-- <div class="flex gap-6 justify-center mb-3 animate zoomup mx-auto px-3 pt-[8rem] md:pt-[10rem]  ">
            <img src="/tocadisco.svg" alt="logoTocadiscos" class=" h-32 sm:h-40 md:h-50 max-h-60" >
            <img src="/parlante.svg" alt="logoParlante" class="h-32 sm:h-40 md:h-50 max-h-60"/> 
            <img src="/lucess.svg" alt="logoLuces" class="h-32 sm:h-40 md:h-50 max-h-60" >
          </div> -->
          <img src="/SonusLogo.svg" alt="" class="mx-auto pt-[8rem] md:pt-[10rem]" style="filter: drop-shadow(0 -4mm 5mm #1630BE);">
          <h1 class="px-4 text-center text-3xl md:text-7xl font-bold font-[Audiowide] text-white m-5">Creating an experience</h1>
          <div class="flex justify-center ">

            <a href="#about-us"><button class="relative inline-flex items-center justify-center p-0.5  mb-2 me-2 overflow-hidden text-md font-medium text-[--primary] rounded-lg group bg-gradient-to-br from-[--primary] to-blue-500 group-hover:from-[--primary] group-hover:to-[--primary] hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800 dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)]">
              <span class="relative px-7 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              See More
              </span>
              </button></a>
            <a href="#contact"> <button class="relative inline-flex items-center justify-center p-0.5  mb-2 me-2 overflow-hidden text-md font-medium text-[--primary] rounded-lg group bg-gradient-to-br from-[--primary] to-blue-500 group-hover:from-[--primary] group-hover:to-[--primary] hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800 dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)]">
              <span class="relative px-7 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              Contact Us
              </span>
              </button></a>
          </div>
           
           
        </div>
      </div>
  </section>

  <style>
  
    .parallax{
        background:linear-gradient(
          rgba(0,0,0,0.9), 
          rgba(0,0,0,0.5)
        ), url('/bgInicial.webp') repeat fixed 100%;
        background-size: cover;
        color: aliceblue;
        
    
    }
    
    
    </style>