---
interface Props {
	sectionHeight: string;
	urlImg: string;
  
}

const { sectionHeight, urlImg} = Astro.props;
---
<section class="parallax-1" style={`height: ${sectionHeight}; background: linear-gradient(
rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5)
),
url(${urlImg}) repeat fixed 100%;`}>

 
</section>


<style>
  .parallax-1 {
    position: relative; /* Añadimos position relative para que podamos posicionar el título correctamente */
  }
</style>


<style>
  .parallax-1 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url({`${urlImg}`}) repeat fixed 100%;
      
  }
</style>
