---
interface Props {
	sectionHeight: string;
	urlImg: string;
  tittle?: string;
  
}

const { sectionHeight, urlImg,tittle} = Astro.props;
---
<section class="parallax-1 grid place-items-center text-end" style={`height: ${sectionHeight}; background: linear-gradient(
rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5)
),
url(${urlImg}) repeat fixed 50%;`}>
 
<div class="flex justify-center align-end text-white"> {tittle}</div>

 
</section>



