---
interface Props {
	sectionHeight: string;
	urlImg: string;
  content?: Node; // Prop para el contenido opcional
}

const { sectionHeight, urlImg,content } = Astro.props;
---
<section class="parallax-1" style={`height: ${sectionHeight}; background: linear-gradient(
rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5)
),
url(${urlImg}) repeat fixed 100%;`}>

  {content} 
</section>

<style>
  .parallax-1 {
    position: relative; /* Añadimos position relative para que podamos posicionar el título correctamente */
  }
</style>


<style>
  .parallax-1 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url({`${urlImg}`}) repeat fixed 100%;
  }
</style>
