---
interface Props {
	sectionHeight: string;
	urlImg: string;
  tittle?: string;
  
}

const { sectionHeight, urlImg,tittle} = Astro.props;
---
<section class="parallax-1 grid place-items-center text-end" style={`height: ${sectionHeight}; background: linear-gradient(
rgba(0, 0, 0, 0.5),
rgba(0, 0, 0, 0.5)
),
url(${urlImg}) repeat fixed 100%;`}>
 
<div class="flex justify-center align-end text-white"> {tittle}</div>

<svg class="dark:text-[#050505] text-[#f4f4f4] absolute -bottom-7" width="auto" height="179"  xmlns="http://www.w3.org/2000/svg">
  <path fill="currentColor" clip-rule="evenodd" d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z" fill="white"/>
</svg>
</section>


<style>
  .parallax-1 {
    position: relative; /* Añadimos position relative para que podamos posicionar el título correctamente */
  }
</style>


<style>
  .parallax-1 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url({`${urlImg}`}) repeat fixed 100%;
      
  }
</style>
