---
import DesignEngIcon from "../icons/DesignEng.astro"
import LitghtIcon from "../icons/Litght.astro"
import ConstrutionIcon from "../icons/Construction.astro"
import DocumentationIcon from "../icons/Documentation.astro"
import ManagementIcon from "../icons/Management.astro"
import PlugIcon from "../icons/Plug.astro"
import ConsultaIcon from "../icons/Consulta.astro"
import DevIcon from "../icons/Dev.astro"
import SecurityCamIcon from "../icons/SecurityCam.astro"
import MaintenanceIcon from "../icons/Maintenance.astro"
---
<section id="services-296">
    <div class="py-6 bg-[#050505] dark:bg-gray-800">
      <div class="flex flex-col gap-3 text-center mt-5">
        <span class="text-5xl font-bold text-[--primary]">OUR SERVICES</span>
        <h2 class="text-white text-5xl font-extrabold">
          We Are Committed To Delivering Top Quality Legal Services
        </h2>
        <p class="cs-text"></p>
      </div>
      <ul class="cs-card-group  gap-3">
        <li class="cs-item text-[--primary] hover:text-white ">
          <a  href="" class="flex justify-center h-full flex-col items-center gap-2">
            <h3 class="text-xl font-bold">LIGHTING DESIGN</h3>
            <LitghtIcon>
           
          </a>
          <picture class="cs-image" aria-hidden="true">
           
            <img
              loading="lazy"
              
              src="/ligth.jpg"
              alt="library"
              width="413"
              height="266"
            />
          </picture>
        </li>
        <li class="cs-item text-[--primary] hover:text-white">
            <a  href="" class="flex justify-center h-full flex-col items-center gap-2">
              <h3 class="text-xl font-bold">CONSULTATION</h3>
              <ConsultaIcon>
             
            </a>
            <picture class="cs-image" aria-hidden="true">
             
              <img
                loading="lazy"
                
                src="/support.jpg"
                alt="library"
                width="413"
                height="266"
              />
            </picture>
        </li>
        <li class="cs-item text-[--primary] hover:text-white">
            <a  href="" class="flex justify-center h-full flex-col items-center gap-2">
              <h3 class="text-xl font-bold">DESIGN & ENGINEERING</h3>
              <DesignEngIcon>
             
            </a>
            <picture class="cs-image" aria-hidden="true">
             
              <img
                loading="lazy"
                
                src="/deingEng.jpg"
                alt="library"
                width="413"
                height="266"
              />
            </picture>
        </li>
        <li class="cs-item text-[--primary] hover:text-white">
            <a  href="" class="flex justify-center h-full flex-col items-center gap-2">
              <h3 class="text-xl font-bold">SYSTEM DOCUMENTATION</h3>
              <DocumentationIcon></DocumentationIcon>
             
            </a>
            <picture class="cs-image" aria-hidden="true">
             
              <img
                loading="lazy"
                
                src="/systemDoc.jpg"
                alt="library"
                width="413"
                height="266"
              />
            </picture>
        </li>
        <li class="cs-item text-[--primary] hover:text-white">
            <a  href="" class="flex justify-center h-full flex-col items-center gap-2">
              <h3 class="text-xl font-bold">PROJECT MANAGEMENT</h3>
             <ManagementIcon>
             
            </a>
            <picture class="cs-image" aria-hidden="true">
             
              <img
                loading="lazy"
                
                src="/project-man.jpg"
                alt="library"
                width="413"
                height="266"
              />
            </picture>
        </li>
        <li class="cs-item text-[--primary] hover:text-white">
            <a  href="" class="flex justify-center h-full flex-col items-center gap-2">
              <h3 class="text-xl font-bold">CONSTRUCTION ADMINISTRATION</h3>
              <ConstrutionIcon>
             
            </a>
            <picture class="cs-image" aria-hidden="true">
             
              <img
                loading="lazy"
                
                src="/consultation.jpg"
                alt="library"
                width="413"
                height="266"
              />
            </picture>
        </li>
        <li class="cs-item text-[--primary] hover:text-white">
            <a  href="" class="flex justify-center h-full flex-col items-center gap-2">
              <h3 class="text-xl font-bold">WIRE INSTALLATION</h3>
              <PlugIcon>
             
            </a>
            <picture class="cs-image" aria-hidden="true">
             
              <img
                loading="lazy"
                
                src="/wire.jpg"
                alt="library"
                width="413"
                height="266"
              />
            </picture>
        </li>
        <li class="cs-item text-[--primary] hover:text-white ">
            <a  href="" class="flex justify-center h-full flex-col items-center gap-2">
              <h3 class="text-xl font-bold">PROGRAMMING</h3>
             <DevIcon>
             
            </a>
            <picture class="cs-image" aria-hidden="true">
             
              <img
                loading="lazy"
                
                src="/programing.jpg"
                alt="library"
                width="413"
                height="266"
              />
            </picture>
        </li>
        <li class="cs-item text-[--primary] hover:text-white ">
            <a  href="" class="flex justify-center h-full flex-col items-center gap-2">
              <h3 class="text-xl font-bold">MONITORING
                SYSTEM</h3>
             <SecurityCamIcon>
             
            </a>
            <picture class="cs-image" aria-hidden="true">
             
              <img
                loading="lazy"
               
                src="/mmonitor.jpg"
                alt="library"
                width="413"
                height="266"
              />
            </picture>
        </li>
        <li class="cs-item text-[--primary] hover:text-white ">
            <a  href="" class="flex justify-center h-full flex-col items-center gap-2">
              <h3 class="text-xl font-bold">MAINTENANCE & SUPPORT</h3>
            <MaintenanceIcon>
             
            </a>
            <picture class="cs-image" aria-hidden="true">
             
              <img
                loading="lazy"
                
                src="/maintenance.jpg"
                alt="library"
                width="413"
                height="266"
              />
            </picture>
        </li>
      </ul>
    </div>
  </section>

  <style>

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

  #services-296 .cs-card-group {
    width: 90%;
    
   margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    
  }
  #services-296 .cs-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    text-align: center;
    width: 100%;
  
    padding: 2rem;
    
    background-color: #f7f7f7;
    border-radius: 1rem;
    /* clips image corners */
    overflow: hidden;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    transition: background-color;
  }
  #services-296 .cs-item:hover {
    cursor: pointer;
  }
  #services-296 .cs-item:hover .cs-image {
    opacity: 1;
  }
  #services-296 .cs-item:hover .cs-image img {
    transform: scale(1.1);
  }
  #services-296 .cs-item:hover .cs-icon {
    /* turns it white */
    filter: grayscale(1) brightness(1000%);
  }
 
  #services-296 .cs-image {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    background-color: var(--primary);
    
  }
  #services-296 .cs-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    object-fit: cover;
    transition: transform 0.6s;
  }
  #services-296 .cs-link {
    text-decoration: none;
  }
  #services-296 .cs-icon {
    width: auto;
    height: 3rem;
    margin-bottom: 1.5rem;
    display: block;
    margin: 1rem auto;
  }
  
  
  #services-296 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color ;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-296 .cs-card-group {
    justify-content: space-between;
    /* makes sure every box "stretches" to be the same height as the tallest box */
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #services-296 .cs-item {
    width: 48%;
    
  }
}
/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-296 .cs-container {
    max-width: 90rem;
  }
  #services-296 .cs-card-group {
    justify-content: center;
  }
  #services-296 .cs-item {
    /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw or 23% to get the desired sizes fit 4 in a row and then stack when you add more */
    width: clamp(23.84%, 22.5vw, 23.95%);
  }
}

  </style>